/* CSS VARIABLES ---------------------------------------------- */
/* https://www.w3schools.com/css/css3_variables.asp */
:root {
  --color-green: #1ED760;
  --color-green-hover: #1DB954;
  --color-white: #FFFFFF;
  --color-gray: #282828;
  --color-graydark: #1E1E1E;
  --color-dark: #070505;
  --color-black: #191414;
}



/* IMPORT FONT ---------------------------------------------- */
/* https://transfonter.org/ */
@font-face {
  font-family: 'Circular Spotify Tx T';
  src: url('../fonts/circular/CircularSpotifyTxT-Med.woff2') format('woff2'),
      url('../fonts/circular/CircularSpotifyTxT-Med.woff') format('woff'),
      url('../fonts/circular/CircularSpotifyTxT-Med.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Circular Spotify Tx T';
  src: url('../fonts/circular/CircularSpotifyTxT-Book.woff2') format('woff2'),
      url('../fonts/circular/CircularSpotifyTxT-Book.woff') format('woff'),
      url('../fonts/circular/CircularSpotifyTxT-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Circular Spotify Tx T';
  src: url('../fonts/circular/CircularSpotifyTxT-Bold.woff2') format('woff2'),
      url('../fonts/circular/CircularSpotifyTxT-Bold.woff') format('woff'),
      url('../fonts/circular/CircularSpotifyTxT-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Circular Spotify Tx T';
  src: url('../fonts/circular/CircularSpotifyTxT-Light.woff2') format('woff2'),
      url('../fonts/circular/CircularSpotifyTxT-Light.woff') format('woff'),
      url('../fonts/circular/CircularSpotifyTxT-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Circular Spotify Tx T';
  src: url('../fonts/circular/CircularSpotifyTxT-Black.woff2') format('woff2'),
      url('../fonts/circular/CircularSpotifyTxT-Black.woff') format('woff'),
      url('../fonts/circular/CircularSpotifyTxT-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}



/* PREDEFINED ---------------------------------------------- */
*, *:after, *:before {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  font-family: 'Circular Spotify Tx T', sans-serif;
  outline: none;
}
body {
  display: flex;
  position: relative;
  margin: 0 auto;
  padding: 0;
  font-family: 'Circular Spotify Tx T', sans-serif;
  font-size: 16px;
  font-weight: 400; 
  font-style: normal;
  background-color: var(--color-dark);
  color: var(--color-white);
  overflow: hidden;
  /* -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}
.wrapper {
  margin: 0 auto;
  width: 90%;
}


/* GENERAL STYLING ---------------------------------------------- */
/* HEADER ----------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  padding-bottom: 7px;
  width: 100%;
  background-color: transparent;
  z-index: 98;
}
header.hidden {
  display: none;
}
header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 85%;
  list-style: none;
}
header ul li button {
  background-color: transparent;
  cursor: pointer;
}
header ul li svg {
  height: 20px;
  transition: 0.5s transform;
}
header ul li button:hover svg,
header ul li button:focus svg {
  transform: rotate(90deg);
}
header ul li svg path {
  fill: var(--color-white);
  transition: 0.25s;
}
header ul li button:focus svg path {
  fill: var(--color-green);
}

/* MAIN ----------- */
main {
  height: 100vh;
  width: 100vw;
  overflow-y: auto;
}

/* FOOTER ----------- */
footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: -1px;
  z-index: 99;
}
/* NOW PLAYING BAR */
footer .now-playing-bar {
  position: relative;
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: var(--color-gray);
  transform: translateY(calc(100% + 2px));
  transition: 0.75s;
  transition-delay: 0.5s;
  z-index: -1;
}
footer .now-playing-bar.visible {
  transform: translateY(2px);
}
footer .now-playing-bar-progress {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 2px;
  background-color: rgba(255,255,255,0.3);
}
footer .now-playing-bar-progress div {
  /* content: ''; */
  position: absolute;
  left: 0;
  top: 0;
  height: 2px;
  width: 0;
  background-color: var(--color-white);
  transition: 0.65s;
}
footer .now-playing-bar.visible .now-playing-bar-progress div {
  width: 100%;
}
footer .now-playing-bar-content {
  display: flex;
  flex-direction: row;
}
footer .now-playing-bar-content img {
  height: 3.3em;
  cursor: pointer;
}
footer .now-playing-bar-content .now-playing-bar-info {
  position: relative;
  flex: 1;
  width: 0; /* https://bugs.chromium.org/p/chromium/issues/detail?id=464210 */
  z-index: 1;
}
footer .now-playing-bar-content div {
  flex: 0 0 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0.9em;
  cursor: pointer;
}
footer .now-playing-bar-content .now-playing-bar-info:focus {
  background-color: var(--color-graydark);
  z-index: 3;
}
footer .now-playing-bar-content .now-playing-bar-info h5 {
  font-size: 0.75em;
  font-weight: 400;
  transition: 0.25s color;
}
footer .now-playing-bar-content .now-playing-bar-info:hover h5 {
  color: var(--color-green);
}
footer .now-playing-bar-content .now-playing-bar-info:focus h5 {
  color: var(--color-green);
}
footer .now-playing-bar-content .now-playing-bar-info p {
  margin-top: -2px;
  font-size: 0.75em;
  opacity: 0.65;
}
footer .now-playing-bar-content button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  transition: 0.25s background-color;
  cursor: pointer;
}
footer.hidden .now-playing-bar-content button {
  display: none;
}
footer .now-playing-bar-content button:hover,
footer .now-playing-bar-content button:focus {
  background-color: var(--color-graydark);
}
footer .now-playing-bar-content button:nth-of-type(1) {
  margin-right: 0.5em;
}
footer .now-playing-bar-content button svg {
  height: 2em;
  padding: 0 1em;
}
footer .now-playing-bar-content button svg path,
footer .now-playing-bar-content button svg rect {
  fill: var(--color-white);
  transition: 0.25s fill;
}
footer .now-playing-bar-content button:focus svg path,
footer .now-playing-bar-content button:focus svg rect {
  fill: var(--color-green);
}
footer .now-playing-bar-content ul {
  display: none;
}
/* NOW PLAYING OVERLAY */
footer .now-playing-overlay {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  background-color: var(--color-gray);
  text-align: center;
  transform: translateY(calc(100% + 2px));
  transition: 0.5s ease;
  z-index: -1;
}
footer .now-playing-overlay.visible {
  transform: translateY(0);
}
footer .now-playing-overlay a, 
footer .now-playing-overlay input,
footer .now-playing-overlay button {
  display: none;
}
footer .now-playing-overlay.visible a, 
footer .now-playing-overlay.visible input,
footer .now-playing-overlay.visible button {
  display: block;
}
footer .now-playing-overlay:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgb(40,40,40); /* https://cssgradient.io/ */
  background: linear-gradient(180deg, rgba(40,40,40,0.1) 0%, rgba(40,40,40,0.35) 100%);
  z-index: -1;
}
footer .now-playing-overlay ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 85%;
  list-style: none;
}
footer .now-playing-overlay ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
footer .now-playing-overlay > ul li button {
  position: relative;
  height: 19px;
  width: auto;
  background-color: transparent;
  cursor: pointer;
  transition: 0.25s opacity;
}
footer .now-playing-overlay > ul li button:hover {
  opacity: 0.65;
}
footer .now-playing-overlay ul li svg {
  height: 19px;
}
footer .now-playing-overlay ul li svg circle, 
footer .now-playing-overlay ul li svg path {
  fill: var(--color-white);
  transition: 0.25s fill;
}
footer .now-playing-overlay > ul li button:focus svg path,
footer .now-playing-overlay > ul li button:focus svg circle {
  fill: var(--color-green);
}
footer .now-playing-overlay ul li a {
  text-decoration: none;
  color: var(--color-white);
  transition: 0.25s opacity, 0.25s color;
}
footer .now-playing-overlay ul li a:hover {
  opacity: 0.65;
}
footer .now-playing-overlay ul li a:focus {
  color: var(--color-green);
}
footer .now-playing-overlay ul li h2 {
  font-size: 0.85em;
  font-weight: 500;
}
footer .now-playing-overlay ol {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  list-style: none;
}
footer .now-playing-overlay ol::-webkit-scrollbar {
  display: none;
}
footer .now-playing-overlay ol li {
  padding: 2.5em 0;
}
footer .now-playing-overlay img {
  margin: 0 7.5vw;
  width: 85vw;
  scroll-snap-align: center;
  box-shadow: 0 0.25em 2.5em rgba(0,0,0,0.2);
  transition: 0.45s transform ease;
}
footer .now-playing-overlay > section {
  margin: 0 auto;
  width: 85%;
  text-align: left;
}
footer .now-playing-overlay > section h3 {
  margin-bottom: 0.05em;
  font-size: 1.35em;
  font-weight: 500;
}
footer .now-playing-overlay > section p {
  font-size: 1em;
  font-weight: 400;
  opacity: 0.65;
}
footer .now-playing-overlay > section .now-playing-overlay-slider {
  position: relative;
  margin-top: 1.25em;
}
footer .now-playing-overlay > section .now-playing-overlay-slider input[type="range"] {
  -webkit-appearance: none; 
  -moz-appearance: none; 
  appearance: none; 
  height: 4px; 
  width: 100%;
  background-color: rgba(255,255,255,0.3);
  border-radius: 2px;
  transition: 0.25s;
}
footer .now-playing-overlay > section .now-playing-overlay-slider input[type="range"]:hover {
  background-color: rgba(255,255,255,0.5);
}
footer .now-playing-overlay > section .now-playing-overlay-slider div {
  content: '';
  position: absolute;
  height: 4px;
  width: 0;
  background-color: var(--color-white);
  border-radius: 2px;
  transform: translateY(-4px);
  pointer-events: none;
  transition: 0.1s width, 0.25s background-color;
  z-index: 1;
}
footer .now-playing-overlay > section .now-playing-overlay-slider input[type="range"]:focus + div {
  background-color: var(--color-green);
}
footer .now-playing-overlay > section .now-playing-overlay-slider input[type="range"]::-webkit-slider-thumb { 
  position: relative;
  -webkit-appearance: none; 
  -moz-appearance: none; 
  appearance: none; 
  width: 12px; 
  height: 12px; 
  background: var(--color-white); 
  border-radius: 50%; 
  cursor: pointer; 
  transition: 0.25s;
  z-index: 2;
}
footer .now-playing-overlay > section .now-playing-overlay-slider input[type="range"]:focus::-webkit-slider-thumb {
  background-color: var(--color-green);
  transform: scale(1.25);
}
footer .now-playing-overlay > section .now-playing-overlay-slider input[type="range"]::-webkit-slider-thumb:hover {
  transform: scale(1.25);
}

footer .now-playing-overlay > section .now-playing-overlay-time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.35em;
}
footer .now-playing-overlay > section .now-playing-overlay-time span {
  font-size: 0.65em;
  opacity: 0.65;
}
footer .now-playing-overlay > section ul {
  padding-top: 0.5em;
  width: 100%;
}
footer .now-playing-overlay > section ul li button {
  height: auto;
  width: auto;
  background-color: transparent;
  transition: 0.25s transform;
  cursor: pointer; 
}
footer .now-playing-overlay > section ul li button:hover {
  transform: scale(1.1);
}
footer .now-playing-overlay > section ul li button:disabled {
  opacity: 0.45;
  cursor: default;
}
footer .now-playing-overlay > section ul li button:disabled:hover {
  transform: scale(1);
}
footer .now-playing-overlay > section ul li button svg,
footer .now-playing-overlay > section ul li button svg path,
footer .now-playing-overlay > section ul li button svg rect {
  transition: 0.25s;
}
footer .now-playing-overlay > section ul li button:focus svg {
  opacity: 1;
}

footer .now-playing-overlay > section ul li button:focus svg path,
footer .now-playing-overlay > section ul li button:focus svg rect {
  fill: var(--color-green);
}
footer .now-playing-overlay > section ul li:nth-of-type(1) svg,
footer .now-playing-overlay > section ul li:nth-of-type(5) svg {
  height: auto;
  width: 1.35em;
  opacity: 0.65;
}
footer .now-playing-overlay > section ul li:nth-of-type(2) svg, 
footer .now-playing-overlay > section ul li:nth-of-type(4) svg {
  height: 1.5em;
}
footer .now-playing-overlay > section ul li:nth-of-type(3) svg {
  height: 4.5em;
}
footer .now-playing-overlay > section:last-of-type {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 4.5em;
}
footer .now-playing-overlay > section:last-of-type button {
  height: auto;
  width: auto;
  background-color: transparent;
  transition: 0.25s transform;
  cursor: pointer;
}
footer .now-playing-overlay > section:last-of-type button:hover {
  transform: scale(1.1);
}
footer .now-playing-overlay > section:last-of-type button:first-of-type svg {
  height: 1.5em;
}
footer .now-playing-overlay > section:last-of-type button:last-of-type svg {
  height: 1.35em;
}
footer .now-playing-overlay > section:last-of-type button svg path,
footer .now-playing-overlay > section:last-of-type button svg rect,
footer .now-playing-overlay > section:last-of-type button svg polygon {
  fill: var(--color-white);
  transition: 0.25s fill;
}
footer .now-playing-overlay > section:last-of-type button svg rect.cls-1 {
  fill: none;
}
footer .now-playing-overlay > section:last-of-type button:focus svg path,
footer .now-playing-overlay > section:last-of-type button:focus svg rect,
footer .now-playing-overlay > section:last-of-type button:focus svg polygon {
  fill: var(--color-green);
}
footer .now-playing-overlay > section:last-of-type button:focus svg rect.cls-1 {
  fill: none;
}

/* FOOTER MAIN NAV */
footer nav {
  background-color: var(--color-gray);
  padding-bottom: 2.0625em;
  z-index: 1;
  transition: 0.3s;
}
footer.hidden nav {
  transform: translateY(100%);
}
footer nav ul {
  padding-top: 0.425em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  border-top: 1px solid rgba(0,0,0,0.25);
}
footer nav ul li {
  width: 100%;
}
footer nav ul li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  text-decoration: none;
  text-align: center;
  opacity: 0.65;
  transition: 0.25s opacity;
}
footer nav ul li a:hover,
footer nav ul li a:focus {
  opacity: 1;
}
footer nav ul li.active a {
  opacity: 1;
}
footer nav ul li a svg {
  height: 1.5em;
}
footer nav ul li a svg path, 
footer nav ul li a svg rect {
  fill: var(--color-white);
}
footer nav ul li a:focus svg path,
footer nav ul li a:focus svg rect {
  fill: var(--color-green);
}
footer nav ul li:last-of-type a svg {
  padding: 2px 0;
}
footer nav ul li a span {
  display: block;
  margin-top: 0.45em;
  font-size: 0.65em;
}
footer nav ul li a:focus span {
  color: var(--color-green);
}






/* SCROLL SNAP NAVIGATION */
/* https://stackoverflow.com/questions/57518428/css-scroll-snap-points-with-navigation-next-previous-buttons */














/* HOME STYLING ---------------------------------------------- */
/* HEADER ----------- */
body.home header ul {
  justify-content: flex-end;
}

/* MAIN ----------- */
body.home:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 350px;
  width: 100vw;
  background: rgb(15,15,15); /* https://cssgradient.io/ */
  background: linear-gradient(340deg, rgba(15,15,15,1) 49%, rgba(24,27,22,1) 58%, rgba(31,37,27,1) 65%, rgba(36,44,31,1) 68%, rgba(49,62,41,1) 74%, rgba(65,84,53,1) 80%, rgba(119,156,93,1) 100%);
  opacity: 0.75;
  z-index: -1;
}
body.home main {
  padding-bottom: 9em;
}
body.home main h2 {
  padding-left: 5%;
  margin-bottom: 0.75em;
  font-size: 1.35em;
  font-weight: 600;
}
body.home main section.recently-played {
  padding: 2em 0;
}
body.home main section ol, 
body.home main section ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  overflow-x: auto;
  max-width: min-content;
}
body.home main section ol::-webkit-scrollbar, 
body.home main section ul::-webkit-scrollbar {
  display: none;
}
body.home main section ol li, 
body.home main section ul li  {
  padding: 0 0.575em;
}
body.home main section ol li:first-of-type, 
body.home main section ul li:first-of-type {
  padding: 0 0.575em 0 5vw;
}
body.home main section ol li:last-of-type, 
body.home main section ul li:last-of-type {
  padding: 0 5vw 0 0.575em;
}
body.home main section ol li a, 
body.home main section ul li a {
  text-decoration: none;
  color: var(--color-white);
  line-height: 1.3em;
}
body.home main section.recently-played ol li a {
  display: block;
  text-align: center;
}
body.home main section.recently-played ol li img {
  height: 7em;
  border-radius: 100%;
  transition: 0.25s;
}
body.home main section.recently-played ol li a:hover img {
  opacity: 0.65;
}
body.home main section.recently-played ol li a:focus img {
  opacity: 0.45;
}
body.home main section ol li figcaption, 
body.home main section ul li figcaption  {
  margin-top: 0.35em;
  font-size: 0.8em;
  transition: 0.25s font-weight;
}
body.home main section.recently-played ol li a:focus figcaption {
  color: var(--color-green);
  font-weight: 500;
}
body.home main section ul li a {
  display: block;
}
body.home main section ul li figcaption h4 {
  margin-top: 0.5em;
  font-size: 1.1em;
  transition: 0.25s;
}
body.home main section ul li a:focus figcaption h4 {
  color: var(--color-green);
}
body.home main section ul li figcaption p {
  opacity: 0.65;
}
body.home main section.listen-again, 
body.home main section.popular-albums, 
body.home main section.my-playlists {
  padding: 1.05em 0;
}
body.home main section.listen-again ul li img, 
body.home main section.popular-albums ul li img, 
body.home main section.my-playlists ul li img  {
  height: 9em;
  transition: 0.25s;
}
body.home main section ul li a:hover img {
  opacity: 0.65;
}
body.home main section ul li a:focus img {
  opacity: 0.45;
}






/* PLAYLIST STYLING ---------------------------------------------- */
/* HEADER ----------- */
body.playlist header {
  background-color: transparent;
  transition: 0.25s;
  overflow: hidden;
  pointer-events: none;
}
body.playlist header.scrolled {
  pointer-events: all;
}
body.playlist header:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: -1px;
  background: linear-gradient(180deg, rgba(181,141,10,1) 0%, rgba(85,67,13,1) 100%);
  z-index: 2;
  opacity: 0;
  transition: 0.25s;
  pointer-events: none;
}
body.playlist header.scrolled:before {
  opacity: 1;
  pointer-events: all;
}
body.playlist header ul {
  position: relative;
  padding-bottom: 0.65em;
  z-index: 3;
}
body.playlist header ul li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 18px;
}
body.playlist header ul li a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0.5em;
  margin-left: -0.5em;
  transition: 0.25s opacity;
  pointer-events: all;
}
body.playlist header ul li a:hover {
  opacity: 0.65;
}
body.playlist header ul li a svg {
  height: 1em;
}
body.playlist header ul li a svg path {
  fill: var(--color-white);
}
body.playlist header ul li a:focus svg path {
  fill: var(--color-green);
}
body.playlist header ul li h2 {
  margin: 0;
  padding: 0;
  font-size: 1.1em;
  font-weight: 500;
  opacity: 0;
  transform: translateY(10px);
  transition: 0.3s;
}
body.playlist header.scrolled ul li h2 {
  opacity: 1;
  transform: translateY(0);
}


/* MAIN ----------- */
body.playlist main {
  padding-bottom: 9em;
}
body.playlist main > section:nth-of-type(1) {
  position: relative;
  margin: 0 auto;
  width: 90%;
}
body.playlist main > section:nth-of-type(1):before {
  content: '';
  position: absolute;
  top: -55px;
  left: -5vw;
  height: calc(100% + 55px);
  width: 100vw;
  background: rgb(254,196,9);
  background: linear-gradient(180deg, rgba(254,196,9,1) 0%, rgba(254,196,9,0) 100%);
  opacity: 0.75;
  z-index: -1;
}
body.playlist main section > section:nth-of-type(1) {
  display: flex;
  flex-direction: row;
  padding-top: 2.75em;
}
body.playlist main section > section:nth-of-type(1) > button {
  padding: 0.55em 1em;
  font-size: 0.85em;
  font-weight: 500;
  border-radius: 0.3em;
  background-color: rgba(255,255,255,0.15);
  color: rgba(255,255,255,0.65);
  transition: 0.25s background-color, 0.25s color;
  cursor: pointer;
}
body.playlist main section > section:nth-of-type(1) > button:hover {
  background-color: rgba(255,255,255,0.25);
}
body.playlist main section > section:nth-of-type(1) > button:focus {
  background-color: rgba(0,0,0,0.25);
  color: var(--color-green);
}
body.playlist main section > section:nth-of-type(1) > button:first-of-type {
  flex: 1;
  margin-right: 0.65em;
  text-align: left;
}
body.playlist main section > section:nth-of-type(1) > button svg {
  height: 1.25em;
  vertical-align: bottom;
  transform: translateY(-2px) translateX(-5px);
}
body.playlist main section > section:nth-of-type(2) {
  display: flex;
  flex-direction: column;
  padding-top: 2.5em;
}
body.playlist main section > img {
  margin: 0 auto;
  width: 60%;
}
body.playlist main section > h2 {
  margin-top: 0.9em;
  margin-bottom: 0.5em;
  font-size: 1.35em;
  font-weight: 600;
}
body.playlist main section > p {
  font-size: 0.8em;
  opacity: 0.65;
}
body.playlist main section > a {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  padding: 1em 0;
  height: 100%;
  width: fit-content;
  text-decoration: none;
  font-size: 0.8em;
  font-weight: 600;
  color: var(--color-white);
  transition: 0.25s color;
}
body.playlist main section > a:hover,
body.playlist main section > a:focus {
  color: var(--color-green);
}
body.playlist main section > a img {
  margin-right: 0.65em;
  height: 1.65em;
  border-radius: 50%;
  object-fit: cover;
  background-color: var(--color-white);
  transform: translateY(-1px);
  transition: 0.25s opacity;
}
body.playlist main section > a:hover img,
body.playlist main section > a:focus img {
  opacity: 0.65;
}
body.playlist main section > section:nth-of-type(2) > ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  list-style: none;
  margin-top: 0.75em;
}
body.playlist main section > section:nth-of-type(2) > ul li {
  margin: 0 0.75em;
}
body.playlist main section > section:nth-of-type(2) > ul li:first-of-type {
  margin-left: 0;
}
body.playlist main section > section:nth-of-type(2) > ul li:first-of-type svg {
  height: 1.5em;
  opacity: 0.85;
}
body.playlist main section > section:nth-of-type(2) > ul li:first-of-type svg path {
  fill: var(--color-white);
}
body.playlist main section > section:nth-of-type(2) > ul li:nth-of-type(2) svg {
  height: 1.25em;
  opacity: 0.75;
  transform: translateY(2.5px);
}
body.playlist main section > section:nth-of-type(2) > ul li:nth-of-type(3) {
  margin-right: 0;
}
body.playlist main section > section:nth-of-type(2) > ul li:nth-of-type(3) svg {
  height: 1.15em;
  opacity: 0.75;
  transform: translateY(4px);
}
body.playlist main section > section:nth-of-type(2) > ul li:nth-of-type(3) svg circle {
  fill: var(--color-white);
}
body.playlist main section > section:nth-of-type(2) > ul li:last-of-type {
  position: relative;
  margin-left: auto;
  margin-right: 0;
  z-index: 99;
  height: 4.25em;
}
body.playlist main section > section:nth-of-type(2) > ul li:last-of-type button {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 4.25em;
  width: 4.25em;
  border-radius: 50%;
  background-color: var(--color-green);
  color: var(--color-white);
  border: none;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.25s background-color, 0.25s transform;
}
body.playlist main section > section:nth-of-type(2) > ul li:last-of-type button:hover,
body.playlist main section > section:nth-of-type(2) > ul li:last-of-type button:focus {
  background-color: var(--color-green-hover);
}
body.playlist main section > section:nth-of-type(2) > ul li:last-of-type button:focus {
  transform: scale(1.1) translateY(-45%);
}
body.playlist main section > section:nth-of-type(2) > ul li.scrolled button {
  position: fixed;
  top: 102px;
  right: 5vw;
}
body.playlist main section > section:nth-of-type(2) > ul li:last-of-type button svg {
  height: 48%;
  transform: translateX(1px);
}
body.playlist main section > section:nth-of-type(2) > ul li:last-of-type button:after {
  content: '';
  position: absolute;
  right: -0.25em;
  bottom: -0.25em;
  height: 1.55em;
  width: 1.55em;
  background-color: var(--color-white);
  background-image: url("../images/icons/shuffle-bold.svg");
  background-repeat: no-repeat;
  background-size: 60%;
  background-position: 60% 57%;
  border-radius: 50%;
}
body.playlist main > section:nth-of-type(2) {
  position: relative;
  margin: -1.5em auto 0 auto;
  width: 90%;
}
body.playlist main > section:nth-of-type(2) > ul {
  list-style: none;
}
body.playlist main > section:nth-of-type(2) > ul li {
  display: flex;
  flex-direction: row;
  margin: 1em 0;
}
body.playlist main > section:nth-of-type(2) > ul li img {
  height: 3em;
  margin-right: 0.75em;
}
body.playlist main > section:nth-of-type(2) > ul li div {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body.playlist main > section:nth-of-type(2) > ul li h4 {
  font-weight: 500;
}
body.playlist main > section:nth-of-type(2) > ul li.now-playing h4 {
  color: var(--color-green);
}
body.playlist main > section:nth-of-type(2) > ul li p {
  font-size: 0.8em;
  opacity: 0.65;
}
body.playlist main > section:nth-of-type(2) > ul li button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: auto;
  background-color: transparent;
  transition: 0.25s opacity;
  cursor: pointer;
}
body.playlist main > section:nth-of-type(2) > ul li button:hover {
  opacity: 0.65;
}
body.playlist main > section:nth-of-type(2) > ul li button svg {
  height: 19px;
  opacity: 0.65;
}
body.playlist main > section:nth-of-type(2) > ul li button svg circle {
  fill: var(--color-white);
  transition: 0.25s fill;
}
body.playlist main > section:nth-of-type(2) > ul li button:focus svg circle {
  fill: var(--color-green);
}



/* STYLING FULL SCREEN APP ONLY - IPHONE X/XS/11/12 ------------------------------------------- */

/* SAFE AREA */
header, main, footer .now-playing-overlay ul {
  padding-top: 55px;
  /* padding-top: 44px; */
}
/* SAFE AREA MARQUEE FIX */
/* .category-page main .marquee a {
  height: calc(100vh - 270px);
} */



/* SMALL MOBILE  ---------------------------------------------- */
@media (max-width: 599px) and (min-aspect-ratio: 9/17) {
  /* GENERAL STYLING ----------- */
  header, main, footer .now-playing-overlay ul {
    padding-top: 1.75em;
  }
  footer nav {
    padding-bottom: 0.5em;
  }
  footer .now-playing-overlay img {
    transform: scale(0.9);
  }
  footer .now-playing-overlay > section:last-of-type {
    padding-bottom: 1.75em;
  }
  
  /* SPECIFIC STYLING ----------- */
  body.home main, body.playlist main {
    padding-bottom: 7.5em;
  }
  body.playlist main section > section:nth-of-type(2) > ul li.scrolled button {
    top: 75px;
  }
  
} /* END TAG (SMALL MOBILE) */



/* VERY SMALL MOBILE  ---------------------------------------------- */
@media (max-width: 350px) and (min-aspect-ratio: 9/17) {
  /* GENERAL STYLING ----------- */
  footer .now-playing-overlay img {
    transform: scale(0.85) translateY(-5vh);
  }
} /* END TAG (VERY SMALL MOBILE) */

/* LARGE MOBILE ---------------------------------------------- */
@media only screen and (min-width: 476px) {
  /* ............. */


} /* END TAG (LARGE MOBILE) */


/* SMALL TABLET ---------------------------------------------- */
@media only screen and (min-width: 600px) {
  :root {
    --vertical-menu-width: 175px;
  }

  /* GENERAL STYLING ----------- */
  header, main, footer .now-playing-overlay ul {
    padding-top: 1.75em;
  }
  body.home:before {
    left: var(--vertical-menu-width);
  }
  header {
    margin-left: var(--vertical-menu-width);
    width: calc(100vw - var(--vertical-menu-width));
  }
  main {
    width: calc(100vw - var(--vertical-menu-width));
    margin-left: var(--vertical-menu-width);
  }
  body.home main, body.playlist main {
    padding-bottom: 1em;
  }
  body.home main h2 {
    padding-left: 5vw;
  }
  body.playlist main {
    overflow-x: hidden;
  }
  body.playlist main > section:nth-of-type(1):before {
    width: 150%;
    left: -25%;
  }
  footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    top: 0;
    right: auto;
    width: var(--vertical-menu-width);
    background-color: var(--color-gray);
  }
  footer nav {
    z-index: -2;
  }
  footer.hidden nav {
    transform: translateY(0);
  }
  footer nav ul {
    flex-direction: column;
    padding-top: 1.5em;
  }
  footer nav ul li {
    margin: 0.45em 0;
  }
  footer nav ul li a {
    flex-direction: row;
    justify-content: flex-start;
    text-align: left;
    padding: 0.15em 0 0.15em 0.75em;
    border-left: 4px solid transparent;
  }
  footer nav ul li.active a {
    border-left: 4px solid var(--color-green);
  }
  footer nav ul li:nth-of-type(2) a svg {
    margin-left: 1px;
  }
  footer nav ul li:nth-of-type(3) a svg {
    margin-left: 4px;
    transform: scale(0.9);
  }
  footer nav ul li a span {
    margin-left: 0.75em;
  }
  footer .now-playing-bar-progress {
    display: none;
  }
  footer .now-playing-bar-content {
    display: flex;
    flex-direction: column;
    padding: 0 0.75em;
  }
  footer .now-playing-bar-content img {
    order: 1;
    height: auto;
    width: 100%;
    box-shadow: 0 0.15em 1.5em rgba(0,0,0,0.2);
  }
  footer .now-playing-bar-content .now-playing-bar-info {
    order: 2;
    width: 100%;
  }
  footer .now-playing-bar-content .now-playing-bar-info {
    padding: 1em 0;
  }
  footer .now-playing-bar-content .now-playing-bar-info h5 {
    font-size: 0.85em;
    font-weight: 500;
  }
  footer .now-playing-bar-content .now-playing-bar-info p {
    margin-top: 0;
    font-size: 0.725em;
  }
  footer .now-playing-bar-content button:nth-of-type(1) {
    order: 6;
  }
  footer .now-playing-bar-content button:nth-of-type(2) {
    order: 5;
    display: none;
  }
  footer.hidden .now-playing-bar-content button:nth-of-type(1) {
    display: flex;
  }
  footer .now-playing-bar-content ul {
    order: 4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 1.75em 0 0.75em 0;
    list-style: none;
  }
  footer .now-playing-bar-content ul button {
    transition: 0.25s;
  }
  footer .now-playing-bar-content ul button:hover {
    transform: scale(1.1);
  }
  footer .now-playing-bar-content button:nth-of-type(1) {
    margin-right: 0;
  }
  footer .now-playing-bar-content button:nth-of-type(1):hover {
    background-color: transparent;
  }
  footer .now-playing-bar-content ul button svg {
    height: 1.55em;
    padding: 0 0.55em;
  }
  footer .now-playing-bar-content ul button:focus,
  footer .now-playing-bar-content ul button:hover,
  footer .now-playing-bar-content button:nth-of-type(1):hover {
    background-color: transparent;
  }
  footer .now-playing-bar-content ul li:first-of-type,
  footer .now-playing-bar-content ul li:last-of-type {
    display: none;
  }
  footer .now-playing-bar-content ul li:nth-of-type(3) button svg {
    height: 3.75em;
    overflow: visible;
  }
  footer .now-playing-bar-content .now-playing-bar-info:focus {
    background-color: transparent;
  }
  footer .now-playing-bar-content .now-playing-bar-controls {
    order: 2;
  }
  footer .now-playing-bar-content .now-playing-bar-controls > span {
    order: 3;
    position: relative;
    display: block;
    height: 3px;
    width: 100%;
    border-radius: 1.5px;
    background-color: rgba(255,255,255,0.3);
    overflow: hidden;
    transition: 0.25s;
  }
  footer .now-playing-bar-content .now-playing-bar-controls > span > span {
    position: absolute;
    display: block;
    height: 100%;
    width: 100%;
    background-color: var(--color-white);
    border-radius: 1.5px;
    transition: 0.45s;
  }
  footer .now-playing-bar-content > button {
    box-sizing: border-box;
    width: fit-content;
    margin-bottom: 1em;
  }
  footer .now-playing-bar-content > button svg {
    height: 1.65em;
    padding: 0;
    opacity: 0.65;
    transition: 0.25s;
  }
  footer .now-playing-bar-content > button:hover svg {
    opacity: 1;
  }
  footer .now-playing-overlay img {
    transform: scale(0.85) translateY(-10px);
  }
  footer .now-playing-overlay > section:last-of-type {
    padding-bottom: 1.75em;
  }

  /* SPECIFIC STYLING ----------- */
  body.playlist main section > img {
    width: 50%;
  }
  body.playlist main section > section:nth-of-type(2) > ul li.scrolled button {
    position: fixed;
    top: 75px;
    right: calc(4% - 2px);
  }
} /* END TAG (SMALL TABLET) */



/* MEDIUM TABLET ---------------------------------------------- */
@media only screen and (min-width: 800px) {
  :root {
    --vertical-menu-width: 275px;
  }
  /* GENERAL STYLING ----------- */
  footer .now-playing-bar-content {
    padding: 0 1em;
  }
  footer .now-playing-bar-content img {
    width: 85%;
    margin-left: 7.5%;
  }
  footer .now-playing-bar-content .now-playing-bar-info h5 {
    font-size: 1em;
    font-weight: 500;
  }
  footer .now-playing-bar-content .now-playing-bar-info p {
    margin-top: 0;
    font-size: 0.85em;
  }
  footer .now-playing-bar-content ul {
    width: 80%;
    margin-left: 10%;
  }
  footer .now-playing-bar-content ul li:nth-of-type(3) button svg {
    height: 4.25em;
  }
  footer .now-playing-bar-content > button {
    margin-bottom: 1.25em;
  }
  footer .now-playing-overlay img {
    transform: scale(0.65) translateY(-15%);
  }
  footer .now-playing-overlay > section {
    width: 60%;
  }
} /* END TAG (MEDIUN TABLET) */



/* MEDIUM TABLET (LANDSCAPE) ---------------------------------------------- */
@media only screen and (min-width: 800px) and (orientation : landscape) {
  footer .now-playing-overlay img {
    transform: scale(0.45) translateY(-55%);
  }
} /* END TAG (MEDIUM TABLET - LANDSCAPE) */



/* SMALL LAPTOP ---------------------------------------------- */
@media only screen and (min-width: 1100px) {
  :root {
    --vertical-menu-width: 250px;
  }
  /* GENERAL STYLING ----------- */
  body.home main, body.playlist main {
    padding-bottom: 8em;
  }
  body.home:before {
    height: 120vh;
    top: -20vh;
  }
  footer, 
  footer nav {
    background-color: #000;
  }
  footer .now-playing-bar {
    transform: translateY(2px);
  }
  footer nav ul {
    padding-top: 3em;
  }
  footer nav ul li a {
    padding: 0.15em 0 0.15em 1em;
  }
  footer nav ul li a span {
    margin-top: 0;
    font-size: 1em;
  }
  footer .now-playing-bar-content {
    flex-direction: row;
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 0;
    width: 100vw;
    background-color: var(--color-gray);
    border-top: 1px solid var(--color-black);
  }
  footer .now-playing-bar-content img {
    position: absolute;
    margin-left: 0;
    width: var(--vertical-menu-width);
    box-shadow: none;
    transform: translateY(calc(-100% - 1px));
  }
  footer .now-playing-bar-content .now-playing-bar-info {
    width: 20vw;
    max-width: 20vw;
    padding-left: 1.25em;
  }
  footer .now-playing-bar-content .now-playing-bar-info h5 {
    font-weight: 400;
    font-size: 0.9em;
  }
  footer .now-playing-bar-content .now-playing-bar-info p {
    font-weight: 400;
    font-size: 0.75em;
  }
  footer .now-playing-bar-content .now-playing-bar-controls {
    order: 3;
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
  }
  footer .now-playing-bar-content ul {
    margin: 0 auto;
    padding: 1em 0;
    width: 300px;
  }
  footer .now-playing-bar-content ul li:first-of-type, 
  footer .now-playing-bar-content ul li:last-of-type {
    display: block;
  }
  footer .now-playing-bar-content ul li:nth-of-type(3) button svg {
    height: auto;
    width: 4em;
    opacity: 1;
  }
  footer .now-playing-bar-content ul button svg {
    height: auto;
    width: 2.35em;
    transition: 0.25s;
  }
  footer .now-playing-bar-content ul button:first-of-type:hover svg,
  footer .now-playing-bar-content ul button:last-of-type:hover svg,
  footer .now-playing-bar-content ul button:first-of-type:focus svg,
  footer .now-playing-bar-content ul button:last-of-type:focus svg {
    opacity: 1;
  }
  footer .now-playing-bar-content ul li:first-of-type svg, 
  footer .now-playing-bar-content ul li:last-of-type svg {
    opacity: 0.65;
  }
  footer .now-playing-bar-content .now-playing-bar-controls > span {
    margin: 0 auto;
    margin-bottom: 1.5em;
    width: 70%;
  }
  footer .now-playing-bar-content > button:nth-of-type(1) {
    width: 20vw;
  }
  footer .now-playing-bar-content > button:nth-of-type(1):focus {
    background-color: transparent;
  }
  footer .now-playing-bar-content > button:nth-of-type(1):focus svg {
    opacity: 1;
  }
  footer .now-playing-overlay img {
    transform: scale(0.35) translateY(-80%);
  }
  /* SPECIFIC STYLING ----------- */
  body.home main section.recently-played ol li img {
    height: 10em;
  }
  body.home main section.listen-again ul li img, 
  body.home main section.popular-albums ul li img, 
  body.home main section.my-playlists ul li img {
    height: 15em;
  }
  body.playlist main section > img {
    width: 25%;
  }
} /* END TAG (SMALL LAPTOP) */