/* CSS VARIABLES ---------------------------------------------- */
/* https://www.w3schools.com/css/css3_variables.asp */
:root {
  --color-green: #1ED760;
  --color-green-hover: #1DB954;
  --color-white: #FFFFFF;
  --color-gray: #282828;
  --color-dark: #0F0F0F;
  --color-black: #191414;
}



/* IMPORT FONT ---------------------------------------------- */
/* https://transfonter.org/ */
@font-face {
  font-family: 'Circular Spotify Tx T';
  src: url('../fonts/circular/CircularSpotifyTxT-Med.woff2') format('woff2'),
      url('../fonts/circular/CircularSpotifyTxT-Med.woff') format('woff'),
      url('../fonts/circular/CircularSpotifyTxT-Med.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Circular Spotify Tx T';
  src: url('../fonts/circular/CircularSpotifyTxT-Book.woff2') format('woff2'),
      url('../fonts/circular/CircularSpotifyTxT-Book.woff') format('woff'),
      url('../fonts/circular/CircularSpotifyTxT-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Circular Spotify Tx T';
  src: url('../fonts/circular/CircularSpotifyTxT-Bold.woff2') format('woff2'),
      url('../fonts/circular/CircularSpotifyTxT-Bold.woff') format('woff'),
      url('../fonts/circular/CircularSpotifyTxT-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Circular Spotify Tx T';
  src: url('../fonts/circular/CircularSpotifyTxT-Light.woff2') format('woff2'),
      url('../fonts/circular/CircularSpotifyTxT-Light.woff') format('woff'),
      url('../fonts/circular/CircularSpotifyTxT-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Circular Spotify Tx T';
  src: url('../fonts/circular/CircularSpotifyTxT-Black.woff2') format('woff2'),
      url('../fonts/circular/CircularSpotifyTxT-Black.woff') format('woff'),
      url('../fonts/circular/CircularSpotifyTxT-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}



/* PREDEFINED ---------------------------------------------- */
*, *:after, *:before {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  box-sizing: border-box;
  outline: none; /* TIJDELIJK? */
}
body {
  position: relative;
  margin: 0 auto;
  padding: 0;
  font-family: 'Circular Spotify Tx T', sans-serif;
  font-size: 16px;
  font-weight: 400; 
  font-style: normal;
  background-color: var(--color-dark);
  color: var(--color-white);
  /* -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; */
}
body.overlay-visible {
  position: absolute; /* SAFARI FIX */
  height: 100vh; /* SAFARI FIX */
  width: 100vw; /* SAFARI FIX */
  overflow-y: hidden;
}
.wrapper {
  margin: 0 auto;
  width: 90%;
}



/* GENERAL STYLING ---------------------------------------------- */
/* HEADER ----------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  padding-bottom: 7px;
  width: 100%;
  background-color: transparent;
  z-index: 996;
}
header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  width: 85%;
  list-style: none;
}
header ul li button {background-color: transparent;}
header ul li svg {
  height: 22px;
}
header ul li svg path {
  fill: var(--color-white);
}
/* header ul li a {
  display: inline-block;
  padding: 8px 15px;
  border-radius: 10px;
} */



/* FOOTER ----------- */
footer {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding-bottom: 45px;
  background-color: var(--color-gray);
}

footer .now-playing-bar {
  position: relative;
  padding-top: 3px;
}
footer .now-playing-bar-progress {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  height: 3px;
  background-color: rgba(255,255,255,0.3);
}
footer .now-playing-bar-progress:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  height: 3px;
  width: 30%;
  background-color: var(--color-white);
}
footer .now-playing-bar-content {
  display: flex;
  flex-direction: row;
}
footer .now-playing-bar-content img {
  height: 3.3em;
}
footer .now-playing-bar-content ul {
  flex: 1;
  overflow-x: auto;
}
footer .now-playing-bar-content ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 0.85em;
  height: 100%;;
}
footer .now-playing-bar-content ul li h5 {
  font-size: 0.85em;
  font-weight: 400;
}
footer .now-playing-bar-content ul li p {
  margin-top: -2px;
  font-size: 0.85em;
  opacity: 0.65;
}
footer .now-playing-bar-content button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
}
footer .now-playing-bar-content button:nth-of-type(1) {
  margin-right: 0.5em;
}
footer .now-playing-bar-content button svg {
  height: 1.75em;
  padding: 0 1em;
}
footer .now-playing-bar-content button svg path {
  fill: var(--color-white);
}

footer nav ul {
  padding-top: 0.65em;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style: none;
  border-top: 1px solid rgba(0,0,0,0.25);
}
footer nav ul li {
  width: 100%;
}
footer nav ul li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  text-decoration: none;
  text-align: center;
}
footer nav ul li a svg {
  height: 1.75em;
}
footer nav ul li a svg path, footer nav ul li a svg rect {
  fill: var(--color-white);
  opacity: 0.75;
}
footer nav ul li:last-of-type a svg {
  padding: 2px 0;
}
footer nav ul li a span {
  display: block;
  margin-top: 0.65em;
  font-size: 0.75em;
}






/* HOME STYLING ---------------------------------------------- */
/* HEADER ----------- */
body.home header ul {
  justify-content: flex-end;
}

/* MAIN ----------- */
body.home:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 350px;
  width: 100vw;
  background: rgb(15,15,15); /* https://cssgradient.io/ */
  background: linear-gradient(340deg, rgba(15,15,15,1) 49%, rgba(24,27,22,1) 58%, rgba(31,37,27,1) 65%, rgba(36,44,31,1) 68%, rgba(49,62,41,1) 74%, rgba(65,84,53,1) 80%, rgba(119,156,93,1) 100%);
  opacity: 0.75;
  z-index: -1;
}
body.home main h2 {
  padding-left: 5%;
  margin-bottom: 0.75em;
  font-size: 1.35em;
  font-weight: 600;
}
body.home main section.recently-played {
  padding: 2.35em 0 2em 0;
}
body.home main section ol, body.home main section ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  overflow-x: auto;
}
/* HIDE SCROLLBAR - https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
body.home main section ol::-webkit-scrollbar, body.home main section ul::-webkit-scrollbar {
  display: none;
}
body.home main section ol li, body.home main section ul li  {
  padding: 0 0.575em;
}
body.home main section ol li:first-of-type, body.home main section ul li:first-of-type {
  padding: 0 0.575em 0 5vw;
}
body.home main section ol li:last-of-type, body.home main section ul li:last-of-type {
  padding: 0 5vw 0 0.575em;
}
body.home main section ol li a, body.home main section ul li a {
  text-decoration: none;
  color: var(--color-white);
  line-height: 1.3em;
}
body.home main section.recently-played ol li a {
  text-align: center;
}
body.home main section.recently-played ol li img {
  height: 7em;
  border-radius: 100%;
}
body.home main section ol li figcaption, body.home main section ul li figcaption  {
  margin-top: 0.35em;
  font-size: 0.8em;
}
body.home main section ul li figcaption h4 {
  margin-top: 0.5em;
  font-size: 1.1em;
}
body.home main section ul li figcaption p {
  opacity: 0.65;
}
body.home main section.listen-again, body.home main section.popular-albums, body.home main section.my-playlists {
  padding: 1.05em 0;
}
body.home main section.listen-again ul li img, body.home main section.popular-albums ul li img, body.home main section.my-playlists ul li img  {
  height: 9em;
}
















/* STYLING FULL SCREEN APP ONLY - IPHONE X/XS/11/12 ------------------------------------------- */

/* SAFE AREA */
header, main {
  /* padding-top: 44px; */
  padding-top: 50px;
}
/* SAFE AREA MARQUEE FIX */
/* .category-page main .marquee a {
  height: calc(100vh - 270px);
} */


/* OTHER SCREEN THAN MOBILE ---------------------------------------------- */
@media only screen and (min-width: 768px) {
  html:before {
    content: "Alleen mobiele weergave";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-green);
    color: var(--color-white);
    font-family: Circular, sans-serif;
    font-size: 55px;
    font-weight: 600;
    text-transform: uppercase;
    visibility: visible;
    opacity: 1;
  }
  body {
    display: none;
  }


} /* END TAG (OTHER) */